<div class="bs-component">
  <div class="list-group">
    <div class="list-group-item active">
      <strong>Projects</strong>
    </div>
    {{#each projects as |project|}}
      <div class="list-group-item">
        {{project-preview project=project}}
      </div>
    {{else}}
      {{#link-to "projects.new" class="btn btn-success btn-large"}}
        <span class="glyphicon glyphicon-plus"></span> New Project
      {{/link-to}}
    {{/each}}
  </div>
</div>
{{yield}}
