<div class="bs-component">
  <div class="list-group">
    <div class="list-group-item active">
      <strong>Snippets</strong>
    </div>
    {{#each snippets as |snippet|}}
      <div class="list-group-item">
        {{snippet-preview snippet=snippet}}
      </div>
    {{else}}
      {{#link-to "snippets.new" class="btn btn-success btn-large"}}
        <span class="glyphicon glyphicon-plus"></span> New Snippet
      {{/link-to}}
    {{/each}}
  </div>
</div>
{{yield}}
