<div class="row">
  <div class="form-group">
    <div class="col-xs-2">
      Projects:
    </div>
    <div class="col-xs-10">
      <div class="row">
        {{#each projects as |project|}}
          <div class="col-xs-2">
            <label for="{{project.id}}">{{project.name}}</label>
            {{radio-button name=project.id value=project checked=snippet.project}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


{{yield}}
