@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.text-center {
  text-align: center;
}

.fix-navbar {
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
  z-index: 100
}

.pad-top {
  padding-top: 8%;
}
.margin-top{
  margin-top: 5%;
}

.modal-form {
  color: #FFF;
}

#modal-container {
  width: 100%;
}

.ember-modal-dialog {
  width: 40%;
  height: 60%;
  background-color: #222;
}

.ember-small-modal {
  width: 25%;
  height: 30%;
  background-color: #222;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.project-status {
  color: #0ce3ac;
}

.full-width {
  min-width: 100%;
}

.modal-input {
  box-sizing:border-box
}
