<div class="row">
  <div class="col-lg-6">
    {{projects-tab projects=model.projects}}
  </div>
  <div class="col-lg-6">
    Upcoming Stories that are due
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    {{dashboard-bookmark-tab bookmarks=model.bookmarks}}
  </div>
  <div class="col-lg-6">
    {{dashboard-snippet-tab snippets=model.snippets}}
  </div>
</div>
