<div class="row">
  <div class="col-lg-6">
    {{projects-tab projects=model}}
  </div>
  <div class="col-lg-6">
    Upcoming Stories that are due
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    Recent Bookmarks
  </div>
  <div class="col-lg-6">
    Recent Snippets
  </div>
</div>
