{{outlet}}
<div class="container">
  <div class="jumbotron">
    <h1>Janus</h1>
    <p>Introducing your new developer dashboard - see your projects, stories, snippets and bookmarks at a glance.</p>
    {{#link-to 'user.signup' class="btn btn-primary btn-lg"}}Sign Up{{/link-to}}
    {{#link-to 'login' class="btn btn-primary btn-lg"}}Login{{/link-to}}
</div>
</div>